<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <span style="font-weight: bold">{{indice+1}}</span> {{empleadoLista.nombre}} {{empleadoLista.apellido}} {{empleadoLista.cargo}} {{empleadoLista.salario}}
        <!-- Usamos queryParams para pasar un valor por url, al hacer click en Actualizar pasamos la variable accion=1-->
        <a style="margin-right:40px;" [routerLink]="['/actualizar',indice]" [queryParams]="{accion:'1'}">
          Actualizar
        </a>
        <!-- Usamos queryParams para pasar un valor por url, al hacer click en Eliminar pasamos la variable accion=2-->

        <a [routerLink]="['/actualizar',indice]" [queryParams]="{accion:'2'}">
          Eliminar
        </a>
      </div>
      <!-- Agregamos las caracteristicas de cada empleado, provenientes del componente hijo caract-empleado-component -->
      <ul style="list-style:none">
        <li *ngFor="let carac of caracteristicas">{{carac}}</li>
      </ul>
      <app-caract-empleado-component (caracteristicasEmpleado)="agregaCarac($event)"></app-caract-empleado-component>

    </div>
  </div>
</div>
