<div class="container">
  <div class="col"><h1>{{titulo}}</h1></div>
  <br><br>
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre"/>
    </div>
    <div class="form-group col-md-3">
      <label for="nombre">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido"/>
    </div>
    <div class="form-group col-md-3">
      <label for="nombre">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo"/>
    </div>
    <div class="form-group col-md-3">
      <label for="nombre">Salario:</label>
      <input type="number" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario"/>
    </div>

    <div class="col" style="margin-top: 30px">
      <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()">Enviar</button>
    </div>
  </form>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados, let i=index">
       <span style="font-weight: bold">{{i+1}}</span> {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}}
      </div>
    </div>
  </div>
</div>
